.features {
    margin:15rem 0;
    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    //to achive responsivness without using media query we will define these columns in a little different way
    //  i will use autofit and minmax property to this goal.
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-column: center-start/center-end;
    gap: 6rem;
    align-items: start;
    
}

.feature {
    display: grid;
    grid-template-columns: min-content 1fr;
    row-gap: 1.5rem;
    column-gap: 2.5rem;
    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1/ span 2;
        transform: translateY(-1rem);
    }
    &__text {
        font-size: 1.7rem;
    }
}
